---
layout: default
---

{% for repository in site.github.public_repositories %}
  <article class="repo">
    <h1><a href="{{ repository.html_url }}">{{ repository.name }}</a></h1>
    <p>{{repository.project_tagline}}</p>
  </article>
{% endfor %}

<div class="repos">
  {%for repo in site.repos  %}
    <article class="repo">
      <h1><a href="{{ site.baseurl }}{{ repo.url }}">{{ repo.title }}</a></h1>

      <div class="entry">
        {{ repo.excerpt }}
      </div>
      
      <a href="{{ site.baseurl }}{{ repo.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
